button{
    display: flex;
    margin: auto;
    width: 270px;
    height: 40px;
    background-color:hsl(0, 0%, 20%) ;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    color:hsl(0, 0%, 100%) ;
    justify-content: center;
    padding: 13px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background-color:hsl(75, 94%, 57%) ;
}